<h1>Cart</h1>

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh rutrum, posuere lacus
  blandit, vulputate ex. Donec elementum, urna ut iaculis ullamcorper, turpis neque ultricies purus, eu
  pharetra nisl quam et sapien. Cras egestas dolor vitae mi feugiat, sit amet sagittis urna congue.
  Suspendisse rhoncus sem vel quam dignissim, non dignissim erat fringilla. Proin et pretium ex. Cras
  sollicitudin felis in sapien tristique fringilla. Nam eu sem sem. Aenean non dapibus orci, vitae fringilla
  leo. Sed egestas ultricies ornare. Aenean vitae tristique lorem, sed tincidunt nibh. Suspendisse mattis
  commodo vulputate. Duis sollicitudin dolor vel mauris tempus ornare. Vestibulum ante ipsum primis in
  faucibus orci luctus et ultrices posuere cubilia Curae.</p>

<div style="padding-bottom: 20px;">
  <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Responsive image">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text>
  </svg>
</div>

<p>Proin sit amet auctor risus. Vivamus quis augue auctor, mattis ante a, placerat massa. Morbi condimentum
  leo a purus varius, a elementum lacus hendrerit. Praesent vel erat euismod, fermentum mi vel, semper lacus.
  Suspendisse quis nunc venenatis, eleifend urna at, tristique nunc. Vestibulum ullamcorper dui at nulla
  luctus imperdiet. Morbi vestibulum ante sit amet erat porta lacinia. Etiam rutrum elit vel orci iaculis,
  vitae interdum mauris tincidunt. Proin eu magna eget purus interdum ultrices ut vitae purus. Donec eu dolor
  iaculis, interdum leo in, convallis elit.</p>

<p>Quisque imperdiet volutpat nisl eget tincidunt. Ut posuere bibendum nunc ac iaculis. Fusce erat elit,
  maximus vel mi quis, laoreet efficitur orci. Quisque quis vehicula arcu. Fusce id tellus rutrum, posuere
  mauris quis, hendrerit enim. Sed auctor iaculis ante, ut feugiat ante ultrices sed. Vivamus vehicula est ac
  nunc iaculis sollicitudin. Integer eu hendrerit leo, eget ultricies est. Nam non tellus tellus. Proin
  ullamcorper tortor tempus nisi malesuada ullamcorper. Ut dui elit, interdum eu tortor eu, pulvinar rhoncus
  mauris.</p>

<p>Nunc ac lorem lorem. Donec ornare velit id sem efficitur euismod. Praesent elit quam, aliquet eu augue
  vitae, vestibulum pellentesque sem. Aliquam a vulputate nisi. Ut imperdiet lacinia mauris, a aliquet ligula
  hendrerit nec. Morbi vel dapibus erat, vel ornare nulla. Vestibulum ante ipsum primis in faucibus orci
  luctus et ultrices posuere cubilia Curae; Nunc ut efficitur magna, porttitor fringilla leo.</p>

<p>Sed vulputate orci nec pharetra commodo. In tristique laoreet mollis. Maecenas rutrum lectus mauris, ut
  interdum ipsum venenatis id. Donec blandit, massa at vulputate ultricies, dui ligula vehicula quam, id
  tempor mauris eros et lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
  turpis egestas. Integer vestibulum dolor eget nisi facilisis egestas. Pellentesque pretium aliquam massa,
  sit amet consequat velit facilisis non. Vestibulum viverra enim eu iaculis bibendum. Vivamus vitae lorem
  sit amet mauris dapibus consectetur. Mauris orci nisi, maximus quis urna sed, luctus fringilla purus.</p>